/* body {
    margin: 2em;
    align-content: center;
} */


/* styling for form */


/* .headerTask {
    text-align: center;
    color: blue
} */


/* form {
    justify-content: center;
    display: flex;
} */


/* .formLayout {
    display: grid;
    border: 2px blue solid;
    padding: 10px;
    height: 50%;
    width: 80%;
}
*/


.my-shadow-style{
    
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
label {
    font-weight: bold;
}

.addButton {
    margin: auto;
    text-align: justify;
}

.taskDescription {
    width: 100%;
}


/* styling for landing page */

.a {
    border: 1px solid blue
}

.banner {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    max-width: 300px;
    height: auto;
    display: block;
}


/* .col {
    border: 1px solid red;
} */

svg {
    height: 30px;
    width: auto;
}

.card {
    /* border: 1px solid green; */
    margin: 0 auto;
    float: none;
}

.list-group-item {
    border-bottom: none;
}

.error-msg-style{
    font-size: 0.75rem;
}
