body {
    margin: 2em;
    align-content: center;
}

.headerTask {
    text-align: center;
    color: blue
}

form {
    justify-content: center;
    display: flex;
}

.formLayout {
    display: grid;
    row-gap: inherit;
    border: 2px blue solid;
    padding: 10px;
    height: 50%;
    width: 80%;
}

label {
    font-weight: bold;
}

.dropdownRow {
    column-gap: 20%;
}

.inputTask {
    width: 100%;
}

.addButton {
    margin: auto;
    text-align: justify;
}

.taskDescription {
    width: 100%;
}